#header {
}

.gradient {
	background: #e6e6e6; /* Old browsers */
	background: literal("-moz-linear-gradient(top,  #e6e6e6 0%, #cccccc 100%)"); /* FF3.6+ */
	background: literal("-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6)"), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: literal("-webkit-linear-gradient(top,  #e6e6e6 0%,#cccccc 100%)"); /* Chrome10+,Safari5.1+ */
	background: literal("-o-linear-gradient(top,  #e6e6e6 0%,#cccccc 100%)"); /* Opera 11.10+ */
	background: literal("-ms-linear-gradient(top,  #e6e6e6 0%,#cccccc 100%)"); /* IE10+ */
	background: linear-gradient(top,  #e6e6e6 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.title {
	color: #ffffff;
}
