/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.gradient {
	background: #e6e6e6; /* Old browsers */
	background: -moz-linear-gradient(top, #e6e6e6 0%, #cccccc 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6e6),
		color-stop(100%, #cccccc) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e6e6e6 0%, #cccccc 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e6e6e6 0%, #cccccc 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e6e6e6 0%, #cccccc 100%);
	/* IE10+ */
	background: linear-gradient(top, #e6e6e6 0%, #cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( 
	startColorstr='#e6e6e6', endColorstr='#cccccc', GradientType=0 );
	/* IE6-9 */
}

.blueGradient {
  background: #7db9e8;
  background: -moz-radial-gradient(center, ellipse cover,  #7db9e8 0%, #0a4e94 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7db9e8), color-stop(100%,#0a4e94));
  background: -webkit-radial-gradient(center, ellipse cover,  #7db9e8 0%,#0a4e94 100%);
  background: -o-radial-gradient(center, ellipse cover,  #7db9e8 0%,#0a4e94 100%);
  background: -ms-radial-gradient(center, ellipse cover,  #7db9e8 0%,#0a4e94 100%);
  background: radial-gradient(center, ellipse cover,  #7db9e8 0%,#0a4e94 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#0a4e94',GradientType=1 );
}

.shortcutList {
	background: #595959;
	border-right-style: ridge;
	border-width: 5px;
	border-color: #e6e6e6;
}

.shortcutListGroupTitle {
	background: #e6e6e6;
	background-image: url('prax/image/shortcut_list/triangle.png'),
		url('prax/image/shortcut_list/grey_box.png'),
		url('prax/image/shortcut_list/light_border.png');
	background-repeat: no-repeat, repeat-x, repeat-y;
	background-position: bottom center, bottom, 64px;
	border-top-style: ridge;
	border-bottom-style: ridge;
	border-width: 5px;
	border-color: #e6e6e6;
}

.shortcutFolderName:hover {
	border-color: #6699ff;
}

.shortcutFolderName {
	background: url('prax/image/shortcut_list/pages-icon.png');
	background-position: 15px;
	vertical-align: top;
	color: #ffffff;
	background-repeat: no-repeat;
	font-size: 18px;
	text-align: center;
	width: 70%;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border-style: ridge;
	border-width: 2px;
	border-color: #e6e6e6;
	padding: 7px 15px 7px 25px;
}

.widgetTitle {
	color: #333333;
	font-size: 16px;
}

.header {
	padding: 4px;
}

.landingHeader {
	margin-top: 15px;
}

.fileBrowser {
	border-top-style: ridge;
	border-width: 5px;
	border-color: #e6e6e6;
}

.landingHeader div {
	float: left;
	position: relative;
}

.headerMenuItems {
	left: 358px;
}

.headerMenuItem {
	margin: 25px 0px 0px 0px;
	padding: 0px;
}

.headerMenuItemBorderRight {
	border-right: 1px solid #99a0a7;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.pageWidth {
	width: 923px;
}

.sliderDeckPanel {
	padding: 10px 0px 7px 0px;
	height: 418px;
}

.sliderBullets {
	padding: 7px;
}

.centerBox {
	margin-top: 10px;
	margin-bottom: 7px;
	vertical-align: top;
	background: url("prax/image/login/login-signup.png");
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	width: 835px;
	height: 416px;
}

.centerBoxRibbon {
	position: relative;
	top: 30px;
	height: 29px;
	width: 100%;
	vertial-align: middle;
}

.form {
	position: relative;
	display: block;
	top: 100px;
	vertial-align: middle;
	font-size: 14px;
}

.loginForm {
	margin-top: 10px;
	width: 300px;
	text-align: right;
}

.signupForm {
	width: 740px;
	text-align: left;
}

.errorMsgBox {
	top: 70px;
	position: relative;
	width: 600px;
	margin: auto;
	white-space: normal;
	word-wrap: break-word;
}

.landingPageCenter {
	width: 923px;
	text-align: center;
}

.errorMsgOn {
	border: 1px;
	border-style: solid;
	border-color: red;
}

.loginFormLeft {
	width: 80px;
	float: left;
}

.loginFormLeft > * {
	margin-top: 10px;
	margin-bottom: 14px;
	float: right;
}

.loginFormRight {
	width: 220px;
}

.loginFormRight > * {
	margin-top: 0px;
	margin-bottom: 10px;
	float: right;
}

.signupFormPanel {
	width: 210px;
}

.signupFormPanel1 {
	float: left;
	text-align: left;
}


.signupFormPanel1 .clickable {
  display: block;
  margin: 10px 0px 10px 0px;
  float: right;
}

.signupForm .signupFormPanel,
.signupForm .signupFormPanel1,
.signupForm div .gwt-TextBox,
.signupForm div .gwt-PasswordTextBox {
  margin: 4px;
}

.signupForm div {
	float: left;
	padding: 4px;
}

.footer {
	background: #333333;
	border-top: 4px solid #6699ff;
	color: #99ccff;
	margin-top: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	height: 100%;
}

.footerItemBorderRight {
	border-right: 1px solid #ffffff;
}

.footerItem {
	float: left;
	height: 110px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	font-size: 14px;
	text-align: left;
}

/* Footer Menu Headers */
.footerItem .gwt-Image {
	margin-bottom: 15px;
}

.copyright {
	clear: both;
	width: 100%;
	text-align: right;
	font-size: 13px;
	color: #666666;
}

.layoutView {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

input[type=file],input[type=text],input[type=password] {
	background: #ffffff;
	height: 16px;
	width: 180px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-style: solid;
	border-width: 3px;
	border-color: #ffffff;
}

input[type=file]:focus,input[type=text]:focus,input[type=password]:focus
	{
	background: #ffffff;
	height: 16px;
	width: 180px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-style: solid;
	border-width: 3px;
	border-color: #6699ff;
}

.clickable{
	cursor: pointer;
}

/*---------------------------------------------------------------------------*/

.dashboardContainer {
  height: 100%;
  width: 100%;
  color: #ffffff;
  text-align: center;
}

.dashboardHeader {
  height: 85px;
  width: 100%;
  vertical-align: middle;
	border-bottom: 1px solid #333333;
}

.dashboardHeader .gwt-Image, .dashboardHeader .gwt-TextBox {
  float: left;
}

.powerButton {
  position: absolute;
  right: 10px;
  top: 30px;
}
.dashboardHeader .gwt-TextBox {
  position: absolute;
  top: 30px;
}

.dashboardDesktop {
  width: 100%;
  height: 100%;
}

.dashboardDesktopIcons {
  position: absolute;
}

.dashboardDesktopIcon {
  float: left;
  margin: 30px;
}

.dashboardFooter {
  position: absolute;
  bottom: 0px;
  height: 66px;
  width: 100%;
  background: #1f61a4;
}
/*---------------------------------------------------------------------------*/